
.container-fluid {
    width:100%
}

.carousel {
    margin:auto;
    width:90%;
    height:auto;
  }
.carousel-inner img {
    margin: auto;
}
  .jumbotron {
    background-image: url("portfolioImages/jumbotronWallpaper.png");
    background-size: auto;
    background-repeat: auto;
    height: auto;
  }

.img-fluid {
  max-width: auto;
  height: auto;
}

.bg { 
  background-color: #f5f378; 
}

.footer, .push {
 
  background-image: url("portfolioImages/palmWallpaper.png");
  position: auto;
  height: 200;
}


.navbar-text, .navbar {
  position: fixed;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: larger;
  font-style: normal;
  font-stretch: semi-expanded;

  
  background-position: auto;
  background-repeat: auto;
  background-size: auto;
  height: auto;
  background-image: url("portfolioImages/palmWallpaper.png");


  
}

/* start of link Nav customization*/
